@model List<PerformenceInfo>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradiant ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Performence List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="PerformenceInfo" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle-fill"></i> Add Performence
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Artist Name
                    </th>
                    <th>
                        Start Hour
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var performence in Model.ToList())
                {
                    <tr>
                        <td>@performence.Artist.Value</td>
                        <td>
                            @performence.StartHour
                        </td>

                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Performence" asp-action="Edit" asp-route-performenceId="@performence.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-pen"></i> Edit
                                </a>
                                <a asp-controller="Performence" asp-action="Delete" asp-route-performenceId="@performence.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash3-fill"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>