@model ConcertInfo

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-dark bg-gradiant ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Concert</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 d-flex align-items-center justify-content-center">
        <form method="post">
            <input asp-for="Id" hidden />
            <div class="border p-3 mt-4">
                <div class="form-floating py-2 col-12">
                    <h3>Do you really want to remove this concert?</h3>
                    <h5 class="text-center mt-3">@Model.Title</h5>
                </div>
                <div class="row mt-3">
                    <div class="btn col-6">
                        <button type="submit" class="btn btn-danger form-control">Delete Concert</button>
                    </div>
                    <div class="btn col-6 ">
                        <a asp-controller="ConcertInfo" asp-action="Management" class="btn btn-dark form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>